.theme-default-content :not(a) > img
  width 100%
  box-shadow 2px 2px 8px rgba(0, 0, 0, 0.1)
  // 防止懒加载导致滚动高度失效，先占位
  aspect-ratio 16 / 9

.theme-default-content .tip
  // 设置左侧边框颜色
  border-left 0.5rem solid $accentColor